<div class="flex items-center flex-col w-full pb-4">
    <div class="flex w-full items-start justify-center gap-12 mr-2 sm:mr-32 pb-4">
        <div class="flex items-start justify-start">
            <ul class="flex flex-col gap-4">
                <li class="flex items-center gap-2 justify-center">
                 <img src="spotterlogo.png" alt="logo" width="50">
                <h1 class="logo-text text-lg font-[roboto]">spotter</h1>
                </li> 
                 <li>
                <h1>spotter app</h1>
            </li>
             <li>
                <h1>extension</h1>
            </li> 
             <li>
                <h1>lens</h1>
            </li>
            </ul>
 
        </div>
      <div class="flex items-start justify-start">
        <ul class="">
           
            <li class="flex items-center justify-center gap-4">
                <img src="google-play.png" alt="googledownload" width="100" >
                <img src="apple-store.png" alt="appledownload" width="100">
            </li>
        </ul>

    </div>
    </div>
    <div class="bg-[#fafafa] flex w-full justify-evenly py-4 sm:flex-row flex-col-reverse  items-center gap-4 max-w-[800px] rounded border border-gray-100">
      
        <div class="text-sm sm:bloc flex flex-col items-center">
            <p>2025 Copyright spotter.ai, All rights reserved</p>
            <div class="flex mt-3 ">
                <p>Terms of service </p>
                <span class=" bg-gray-200 w-[2px] mx-2"></span>
                <p>251 Little Falls Dr.Wilmington DE 19808</p>
            </div>
        </div>
        <div class="flex gap-2">
            <span><i class="fa-brands fa-square-whatsapp fa-2x"></i></span>
            <span><i class="fa-brands fa-square-instagram fa-2x"></i></span>
            <span><i class="fa-brands fa-square-twitter fa-2x"></i></span>
        </div>
    </div>
</div>