<div class="flex sm:items-center items-start sm:ml-0 ml-16 flex-col gap-6 text-[#051930] justify-center mt-12">
    <h1 class="flex flex-col text-[#051930] gap-2 text-2xl sm:text-4xl traking-extrawide">
        <span class="red-span">get more out of</span>
        <span class="blue-span">each mile with</span>
        <span class="gray-span border-b-4 w-max border-[#cee]">spotter</span>
    </h1>

    <p>AI technology that gets you <span class="border-b-2 w-max border-[#cee]">hot loads</span> </p>
    <div class="flex items-center justify-center gap-6">
        <button class="bg-[#051930] text-white border border-[#051930] px-8 py-1 sm:flex hidden rounded">Get Started</button>
        <button class="border border-[#051930]  text-[#051930] sm:flex hidden  px-8 py-1 rounded">login</button>
    </div>
    <div class="border border-gray-200 border-dotted w-full  border-t-hidden  h-full flex items-center justify-center m-4 ">
        <div class="w-[200px]   h-auto rounded-lg  overflow-hidden">
            <img src="iphonescreenshot.jpeg" alt="" width="200">
        </div>
    </div>
</div>