<div class="flex items-center flex-col gap-6 text-[#051930] justify-center mt-12">
    <h1 class="flex flex-col text-[#051930] gap-2 text-4xl traking-extrawide">
        <span class="red-span">get more out of</span>
        <span class="blue-span">each mile with</span>
        <span class="gray-span border-b-4 w-max border-[#cee]">spotter</span>
    </h1>

    <p>AI technology that gets you <span class="border-b-2 w-max border-[#cee]">hot loads</span> </p>
    <div class="flex items-center justify-center gap-6">
        <img src="google-play.png" alt="googledownload" width="200" >
        <img src="apple-store.png" alt="appledownload" width="200">
    </div>
    <div class="border border-gray-200 border-dotted w-full  border-t-hidden z-[-999] h-full flex items-center justify-center m-4 ">
        <div class="w-[200px]   h-auto rounded-lg z-[1000] overflow-hidden">
            <img src="iphonescreenshot.jpeg" alt="" width="200">
        </div>
    </div>
</div>