<div class="border m-4 border-gray-200 flex items-center flex-col h-auto gap-20 mt-[100px] border-dotted">
    <div class="h-[200px] py-6 flex max-w-[800px] items-center justify-center">
        <div class="w-1/2 flex items-start justify-center flex-col">
            <h1 class="text-lg font-[700] tracking-widest">1. ready now</h1>
            <p class="text-sm">set the times when you will be ready</p>
        </div>
        <div class="w-1/2">
            <img src="step1.gif" alt="Step 1" >
        </div>
    </div>
    <div class="w-full  bg-gray-200 h-[1px]"></div>
  <div class="h-[200px] py-6 flex max-w-[800px] items-center justify-between"> 
        <div class="w-1/2">
            <img src="step2.gif" alt="Step 2" >
        </div>
         <div class="w-1/2 flex items-start justify-center flex-col">
            <h1 class="text-lg font-[700] tracking-widest">2. select destinations</h1>
            <p class="text-sm">select the market you want to go to, avoid <br> bad markets via NO-GO map.</p>
        </div>
    </div>
  <div class="h-[200px] py-6 flex max-w-[800px] items-center justify-center">
        <div class="w-1/2 flex items-start justify-center flex-col">
            <h1 class="text-lg font-[700] tracking-widest">3. spotter recommends loads</h1>
            <p class="text-sm">get matched with the highest load sore offers.</p>
        </div>
        <div class="w-1/2">
            <img src="step3.gif" alt="Step 3" >
        </div>
    </div>
</div>