<div class="h-full ">
  <div class="bg-[#cee] h-[500px] header-hero">
    <app-header></app-header>
    <app-hero></app-hero>
  </div>
  <div class="mt-100 border-dotted border border-gray-200 m-4">
    <app-services></app-services>
  </div>
  <div>
    <app-steps></app-steps>
  </div>
  <div class="mt-50">
    <app-footer></app-footer>
  </div>
  <!-- <div class="fixed mb-5 mr-5 bottom-0 right-0 p-4 border border-dotted border-gray-300 rounded-full">
    <img src="spotterlogo.png" alt="logo" width="40">
  </div> -->
</div>