<div class="flex items-center gap-10 min-gap-8 justify-center flex-col">
    <h1 class="">What can <span class=" text-[#051930] border-b-2 border-[#051930]">spotter</span>  do for you</h1>
    <div class="images flex items-center justify-center gap-8">
        <div class="w-[100px] h-[100px] bg-[#cee] rounded-full p-2"><img src="truck.png" alt="truck" ></div>
        <div class="w-[100px] h-[100px] bg-[#cee] rounded-full p-2"><img src="driver.png" alt="driver"></div>
        <div class="w-[100px] h-[100px] bg-[#cee] rounded-full p-2"><img src="load.png" alt="load"></div>
    </div>
</div>